<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
        />
        <title>View DB</title>
    </head>
    <body>
        <nav>
            <a href="/">home</a><br />
            <a href="/create">create new dataset</a><br />
            <a href="/make-route">see optimal route</a><br />
            <a href="/view-db">view db</a><br />
        </nav>
        <h1>View Optimal Route</h1>
        <h2>Optimal Route</h2>
        {{route}}
        <h2>Graph</h2>
        {% for i in range(graph|length) %}<!---->
        {{ graphLabels[i] }}: {{ graph[i] }}<br />
        {% endfor %}

        <h2>Bins to be collected</h2>
        Total bins in DB: {{total_bins}}<br />
        Bins being collected: {{bins_to_collect}}<br />
        Saving: {{(total_bins - bins_to_collect) * 100 / total_bins}}% <br />
        <table>
            <tr>
                <th>Id</th>
                <th>Location</th>
                <th>Fill Rate</th>
            </tr>
            {% for bin in bins %}
            <tr>
                <td>{{ bin.id }}</td>
                <td>{{ bin.location }}</td>
                <td>{{ bin.fill_rate }}</td>
            </tr>
            {% endfor %}
        </table>
        <h2>Data of bins to be collected</h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Bin Id</th>
                <th>Fill Distance</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Date-Time</th>
            </tr>
            {% for data in binData %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.bin_id }}</td>
                <td>{{ data.distance }}</td>
                <td>{{ data.temperature }}</td>
                <td>{{ data.humidity }}</td>
                <td>{{ data.date_time.date() }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>